<div class="feedback-usage">
  <p class="usage-message">How will you know how many tokens you each month?</p>
<p>Log in to your account to view your
	<a href="https://platform.openai.com/usage">usage tracking dashboard</a>
</p>
</div>
<div class="price-model-modal-content">
	<div class= "gpt-40-price">
		<h4>GPT-4o Pricing</h4>
    <table class="gpt-40-price-table" id="gpt-40-price-table">
			<thead>
				<tr>
					<th>Model</th>
					<th>Input</th>
					<th>Output</th>
				</tr>
			</thead>
			<tbody>
				<tr>
					<td>gpt-4o</td>
					<td>$0.0050 / 1K input tokens</td>
					<td>$0.0150 / 1K output tokens</td>
				</tr>
				<tr>
					<td>gpt-4o-2024-05-13</td>
					<td>$0.0050 / 1K input tokens</td>
					<td>$0.0150 / 1K output tokens</td>
				</tr>
			</tbody>
		</table>
	</div>

  <div class="gpt-3-turbo-price">
		<h4>GPT-3.5 Turbo Pricing</h4>
    <table class="gpt-3-turbo-price-table" id="gpt-3-turbo-price-table">
			<thead>
				<tr>
					<th>Model</th>
					<th>Input</th>
					<th>Output</th>
				</tr>
			</thead>
			<tbody>
				<tr>
					<td>gpt-3.5-turbo-0125</td>
					<td>$0.00050 / 1K input tokens</td>
					<td>$0.00150 / 1K output tokens</td>
				</tr>
				<tr>
					<td>gpt-3.5-turbo-instruct</td>
					<td>$0.00150 / 1K input tokens</td>
					<td>$0.00200 / 1K output tokens</td>
				</tr>
			</tbody>
		</table>
	</div>
</div>
